[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
coverage = "*"

[packages]
appdirs = "*"
click = "~=6.7"
docker = "*"
docker-pycreds = "*"
itsdangerous = "*"
pyparsing = "*"
requests = "*"
six = "*"
Flask = "*"
jinja2 = ">=2.11.3"
MarkupSafe = "*"
Pygments = ">=2.7.4"
Rx = "~=1.5"
websocket_client = "*"
Werkzeug = "*"
gunicorn = "*"
urllib3 = ">=1.25.8"

[requires]
python_version = "3.7"
