appdirs==1.4.3
click==6.7
docker==2.2.1
docker-pycreds==0.2.1
Flask==0.12.4
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
Pygments==2.2.0
pyparsing==2.2.0
requests==2.13.0
Rx==1.5.9
six==1.10.0
websocket-client==0.40.0
Werkzeug==0.12.1
