[Unit]
Description=docker enforcer running as system service
After=network.target 
Before=docker.service
StartLimitInterval=0

[Service]
WorkingDirectory=/DE_PATH
EnvironmentFile=/DE_PATH/environment.conf
ExecStart=/GUNICORN_PATH/gunicorn \
  -w 1 --threads 16 -b 0.0.0.0:8888 \
  --access-logfile /var/log/docker_enforcer.log \
  --error-logfile - \
  --log-level info --timeout 120 \
  docker_enforcer:app
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

